{% extends 'base.html.twig' %}

{% block title %}Guidelines{% endblock %}

{% block body %}

    <br>
    <div class="pt-120 pb-130" id="guidelines">
        <div class="container">
            <div class="row mb-90">
                <div class="col-lg-6 offset-lg-3 text-center"><span class="badge bg-light text-dark mb-20" data-show="startbox">Guidelines</span>
                    <h2 class="m-0 px-lg-70" data-show="startbox" data-show-delay="100">
                        Guidelines for the use
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <p class="h4 mb-35">
                        PRODUCTS APPROVAL CERTIFICATE REGULATORY AFFAIRS DIRECTORATE
                        GUIDELINES FOR ADDITIONAL SOURCE OF EXPORTATION REGULATED PRODUCTS
                        HERE IN BENIN REPUBLIC.
                        BPCA/RB/0116/00/BJ
                    </p>
                    <p>
                        A. GENERAL.
                        1. These guidelines are for the interest of the general public and in
                        particular exporting companies in Benin Republic.
                        <br>
                        <br>
                        2. No product will be ship here in Benin Republic without the Exporter
                        or Manufacturer obtain Product Approval Certificate here in Benin from
                        Benin Product Control Authority (BPCA) in accordance with the
                        provisions of decree 19 of 1993 (as amended and the accompanying
                        guidelines)
                        <br>
                        <br>

                        3. No importer here in Benin Republic is allow to obtain the Product
                        Approval Certificate on behalf any manufacturer, supplier or exporter.

                        <br>
                        <br>
                    </p>
                    <p class="m-0">
                        4. No importer here in Benin Republic is allow to pay the fees of
                        Product Approval Certificate.
                        <br>
                        <br>

                        B. DOCUMENTATION.

                        The following documents shall accompany the application.

                        1. Manufacturers, suppliers or Exporters will send copy of their
                        company certificate.

                        2. Manufacturer, supplier or Exporter will fill the application Form.

                        C. PAYMENT CONDITIONS.
                        1. No payment will be transfer by T/T or by L/C without the copy of
                        Product Approval Certificate.

                        2. The copy of the Product Approval certificate and the invoice value
                        of any shipment will be submit to the Benin ministry of finance,
                        before Benin ministry of finance will approved any payment transfer.

                        3. No bank here in Benin Republic will transfer any payment to any
                        Manufacturer, supplier or Exporter without Benin ministry of finance
                        approved the payment transfer.

                        All documents must be found satisfactory for issuance of the export
                        permit to the Exporter or Manufacturer.
                        <br>
                        <br>

                        E. TARIFF

                        Barrister Rahman Abou ÖLÇAL is recommended by Benin Government to
                        receive the payment for the certificate and other requirements.

                        The Product Approval Certificate fees will be made through Barrister
                        Rahman Abou ÖLÇAL.

                        Barrister Rahman Abou ÖLÇAL will pay the certificate fee to the Benin
                        Financial Department after he receive the payment, and submit the
                        payment receipt to the Benin Product Control Authority(BPCA) to enable
                        them issue the Product Approval Certificate to the manufacturer,
                        supplier or exporter.
                        <br>
                        <br>

                        The cost of the Product Approval Certificate is (US$1,152.00) One
                        thousand one hundred and fifty-two Dollars.

                        It is only once the manufacturer, supplier or exporter will obtain the
                        Product Approval Certificate.
                        <br>
                        <br>
                        If the manufacturer, supplier or exporter has another buyers here in
                        Benin, the manufacturer, supplier or exporter will only send the
                        certificate scan copies to all his/her buyers here in Benin.

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
